.group-hover\:block{display:none}
.profile.group .group-hover\:block{z-index:9999}
.group:hover .group-hover\:block {display:block}

.shadow-text{text-shadow:0 0 3px #333}
.page-view ul{padding-left:20px}
.page-view ul li{list-style:disc}
.page-view table,
.page-view table tr, .page-view table td{border-width: 1px;border-color: #e2e8f0;}
#menu-toggle{display: none}
.second-item.absolute{z-index: 10}
.has-error input{border:1px solid red !important;}
.help-block.help-block-error{color:red!important;font-style: italic}
.field-contactform-verifycode input#contactform-verifycode{border:1px solid #e2e8f0;border-radius:5px;padding:5px 10px}

ul.pagination{margin:15px auto;text-align:center}
ul.pagination li{display:inline-block;padding:5px 10px}
ul.pagination li a{color:#a4a4a4;font-weight:bold !important}
ul.pagination li a:hover{color:#5e5e5e}

@media (min-width: 1024px) and (max-width: 1233px){
    .md\:text-2xl {font-size: 1rem;}
    .text-base {font-size: 0.85rem;}
}
@media (min-width: 768px) and (max-width: 1023px){
    .md\:text-2xl {font-size: 1rem}
    .text-base {font-size: 0.85rem;}
}
input[type='number'] {-moz-appearance:textfield}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance:none}
.bigmenu .bg-white nav > a{margin:0 5px}

/*.container.lk-sev{max-width:100% !important;}*/
/*@media (max-width: 639px) {*/
/*header.bg-white.shadow{display: none}*/
/*}*/
